.t389__scroll {
    margin: auto;
}

.t389__copyright, .t389__scroll {
    width: 350px;
}

.t554__card {
    box-shadow: 5px 5px 15px rgba(55, 55, 55, 0.5);
    border-radius: 10px;
    background-color: #ffffff;
    top: 120px;
}

#rec193908759 .t-menu__link-item {
    position: relative;
}

#rec193908759 .t-menu__link-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #74808a;
    -webkit-box-shadow: inset 0px -1px 0px 0px #74808a;
    -moz-box-shadow: inset 0px -1px 0px 0px #74808a;
    box-shadow: inset 0px -1px 0px 0px #74808a;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#rec193908759 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover::after {
    opacity: 1;
    bottom: -2px;
}

.t554 > .t554__general-wrapper {
    background-color:#ffffff;
    min-height: 720px;
}

.yandex_map {
    position: absolute;
    overflow:hidden;
    width:100%; 
    height: 100%
}

.t549_2__bgimg {
    height: 120px;
    margin-top: -20px;
}

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

    #rec193908759 .t-menu__link-item,
    #rec193908759 .t-menu__link-item.t-active {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 980px) {

    .instagram-image > img,
    .instagram-sidecar > img {
        width: 48% !important;
    }

    .t389__copyright {
        margin: auto;
    }

    #rec193908759 .t462__leftcontainer {
        padding: 20px;
    }

    #rec193908759 .t462__imglogo {
        padding: 20px 0;
    }

    #rec193908759 .t-menusub__menu .t-menusub__link-item {
        color: #000000 !important;
    }

    #rec193908759 .t-menusub__menu .t-menusub__link-item.t-active {
        color: #000000 !important;
    }
}

@media screen and (max-width:960px) {
    .t554__card-wrapper,
    .t554__card-wrapper > .t554__card {
        position: relative !important;
    }

    .yandex_map {
        position: relative !important;
        height: 320px;
    }

    .t554 > .t554__general-wrapper {
        background-color:#ffffff;
        min-height: 320px;
        height: auto;
    }

    .t554__card-wrapper {
        max-width: 100%;
        width: 100%;
        margin: 0;
        min-height: 0;
    }

    .t554__card-wrapper > .t554__card {
        max-width: 100%;
        width: 100%;
        border-radius: 0 !important;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}