.t-text-white {
    color: #ffffff !important;
}

.site-title {
    word-break: normal;
    white-space: normal;
    font-size: 65px;
}

.site-title-tagline {
    word-break: normal;
    white-space: normal;
    font-size: 26px;
}

#rec114929647 {
    background-image: url('../images/map.png?201908052112');
    background-attachment: fixed;
    background-attachment: scroll;
}

#rec114929633 .t-menu__link-item {
    position: relative;
}

#rec114929633 .t-menu__link-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ffffff;
    -webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;
    -moz-box-shadow: inset 0px -1px 0px 0px #ffffff;
    box-shadow: inset 0px -1px 0px 0px #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#rec114929633 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover::after {
    opacity: 1;
    bottom: -1px;
}

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

    #rec114929633 .t-menu__link-item,
    #rec114929633 .t-menu__link-item.t-active {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 640px) {
    .t106__wrapper.reverse-on-mobile {
        display: -webkit-box;   
        display: -moz-box;      
        display: -ms-flexbox;   
        display: -webkit-flex;  
        display: flex;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .t106__block.reverse-on-mobile-second {
        order: 2;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-order: 2;
    }

    .t106__block.reverse-on-mobile-first {
        order: 1;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-order: 1;
    }
}

@media screen and (max-width: 960px) {
    .site-title {
        word-spacing: 100vw;
        font-size: 48px;
    }
        
    .site-title-tagline {
        font-size: 20px;
    }
}

@media all\0 {
    #rec114929633 .t446 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
    }
} 